// the third argument in mix is the amount of the first colour to be included

$DK1:mix($Drk,$Lgt,10%);
$DK2:mix($Drk,$Lgt,20%);
$DK3:mix($Drk,$Lgt,30%);
$DK4:mix($Drk,$Lgt,40%);
$DK5:mix($Drk,$Lgt,50%);
$DK6:mix($Drk,$Lgt,60%);
$DK7:mix($Drk,$Lgt,70%);
$DK8:mix($Drk,$Lgt,80%);
$DK9:mix($Drk,$Lgt,90%);

$LT1:mix($Lgt,$Drk,10%);
$LT2:mix($Lgt,$Drk,20%);
$LT3:mix($Lgt,$Drk,30%);
$LT4:mix($Lgt,$Drk,40%);
$LT5:mix($Lgt,$Drk,50%);
$LT6:mix($Lgt,$Drk,60%);
$LT7:mix($Lgt,$Drk,70%);
$LT8:mix($Lgt,$Drk,80%);
$LT9:mix($Lgt,$Drk,90%);

// $c_A:#FF4D00;

.c_base{
	background-color:#FFFCF6;	
}
.btn{
	&:after{
	  background-color: $Drk;
	}
	&.c_A,.c_A_ &{
		@include c_colorrules($c_A,$Drk,$Lgt);
	}
	&.c_B,.c_B_ &{
		@include c_colorrules($c_B,$Lgt,$Drk);
	}
	&.c_C,.c_C_ &{
		@include c_colorrules($c_C,$Drk,$Lgt);
	}
	&.c_Lgt,.c_Lgt_ &{
		background-color:$Lgt;
		color: $Drk;
		> .icn{@include grad_h($Lgt);}
		@include c_darken($Lgt);
	}
	&.c_Drk,.c_Drk_ &{
		background-color:$Drk;
		color: $Lgt;
		&:after{
			background-color: $Lgt;
		}
		> .icn{@include grad_h($Drk);}
		@include c_lighen($Drk);
	}
	&.c_Clear,.c_Clear_ &{
		background-color: transparent !important;
		border-radius:0 !important;
		.icn{
			background: transparent !important;
		}
	}
}
.o-dropdown.open .dropdown-menu{
   &.c_Lgt{
    border: 0.4rem solid $DK7;
  }
}
.o-input{
	&:after{
	  background-color: $DK2;
	}
	&:hover:after{
	  background-color: $DK4;
	}
	&.focus:hover:after,
	&.focus:after{
	  background-color: $DK2;
	}
	input{
		background-color: white;
	}
	&.c_Lgt,.c_Lgt_ &{
		input{
			background-color:$Lgt;
		}
		&.Drk1- input{
			background-color:$LT9;
		}
		&.Drk2- input{
			background-color:$LT8;
		}
		&.Drk3- input{
			background-color:$LT7;
		}
	}
}
// Drk2- c_Lgt
.o-h{
	&:after{
	  background-color: $Lgt;
	}
	&.c_Drk{
		h1,h2,h3,h4,h5,h6{
			color: $Drk;
		}
		&:after{
			background-color: $Drk;
		}
	}
}

a.btn,button.btn{
	background-color: $c_A;
	color: $Drk;
}
.icn{
	background-color: $c_A;
	@include grad_h($c_A);
	& > span{
	  color: $Lgt;
	}
}
.o-dropdown{
  .dropdown-menu{
    border: 0.4rem solid mix($c_A,$Drk,80%);
  }
}
.tbl{
  &.Tabs-over{
    border-color: $Drk !important;
    .active{
      .btn{
        color: $LT2;
        background: $LT9;
        > .icn{
          @include grad_h($LT9);
        }
      }
    }
  }
  &.Tabs{
    .active{
      .btn{
        color: $LT2;
        background: $LT9;
        > .icn{
          @include grad_h($LT9);
        }
      }
    }
  }
}
.Typeahead.o-input{
  .dropdown-menu{
    background-color:$LT4;
    border: 0.4rem solid $LT4;
    li{
      &.active .btn{
        background-color: $c_A;
      }
    }
  }
}
.grp{
	background-color: $LT9;
}
.grp.c_Drk{
	color:$Lgt;
	background-color: black;
}
