.bcDrk{background-color: $Drk !important;}
.bcLgt9{background-color: $LT9 !important;}
.bcLgt{background-color: $Lgt !important;}
.br1r{border-radius: 1rem !important;}
.brL02r{border-top-left-radius: 0.2rem !important;border-bottom-left-radius: 0.2rem !important;}
.brR02r{border-top-right-radius: 0.2rem !important;border-bottom-right-radius: 0.2rem !important;}
.clDrk{background-color:$Drk;}
.flL{float:left !important;}
.flR{float:right !important;}
.fs1-5r{font-size: 1.5rem;}
.fs2r{font-size: 2rem !important;}
.ht4r{height: 4rem !important;}
.ht5r{height: 5rem !important;}
.ht6r{height: 6rem !important;}
.ht7r{height: 7rem !important;}
.ht7r{height: 7rem !important;}
.ht8r{height: 8rem !important;}
.ht100p{height: 100% !important;}
.mg0{margin:0 !important;}
.mgB0{margin-bottom:0 !important;}
.mgB1r{margin-bottom:1rem !important;}
.mgLR1r{margin-left:1rem !important;margin-right:1rem !important;}
.mgLR2r{margin-left:2rem !important;margin-right:2rem !important;}
.ofH{overflow: hidden;}
.op0-5{opacity: 0.5 !important;}
.pd0{padding:0 !important;}
.pd1r{padding: 1rem !important;}
.pd2r{padding: 2rem !important;}
.pdT5r{padding-top: 5rem !important;}
.pdT6r{padding-top: 6rem !important;}
.pdT7r{padding-top: 7rem !important;}
.pdT8r{padding-top: 8rem !important;}
.wd100p{width:100% !important;}
.wd100x{width: 100px !important;}
.wd150x{width: 150px !important;}
.wd25p{width:25% !important;}
.wd50p{width:50% !important;}
.wd75p{width:75% !important;}
.wdAuto{width: auto !important;}
.vaMid{vertical-align:middle !important;}