// Media widths
$wdA:480px;
$wdB:768px;
$wdC:992px;
$wdD:1200px;

// Default settings
$Lgt:#FFFCF6;
$Drk:#000000;

$c_A:#FF4D00;
$c_A:#009a66;

$c_B:#005689;
$c_C:#FFAA00;

$wdA:480px;
$wdB:768px;
$wdC:992px;
$wdD:1200px;

$btnHt:5;
$btnHtSwitchWd:$wdB;
$btnHtB:7;